/* 
https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc
*/
/*
Declare Variables
*/
$labelPaddingLeft: 0px;
$labelPaddingRight: 0px;

/* BODY CSS */
body {
  margin: 0; 
  padding: 0;

  font-family: sans-serif;
}
main {
	margin: 20px ;
	min-height:85vh;
}
footer {
    background-color: lightgrey;
}

/* DOCUMENT WIDE STYLES */








// Bootstrap SCSS

$ipNavy: #0f2d53; 	// rgb(15,45,83)
$ipRed: #ed1652;		// rgb(237,22,82);
$ipGreen: #92c83e;  // rgb(146,200,62);
$ipBlue: #01b3c5;    // rgb(1,179,197);

$theme-colors: (
	"success": $ipNavy,
	"danger": $ipRed,
	"secondary": $ipBlue,
);




@import 'node_modules/bootstrap/scss/bootstrap';

nav .btn-outline-secondary:hover {
	background-color:$ipBlue!important;
	color:white;
}

nav li.nav-item a.nav-link {
	color:lightgrey!important;
}
nav li.nav-item a.nav-link:hover {
	color:$ipRed!important;	
}
nav li.nav-item a.nav-link.active {
	color:$ipBlue!important;	
}
h4.text-success {
	color: $ipRed!important;
}

form label small {
	color: $ipNavy!important;
}

thead.table-sm tr th {
	border-bottom-color:$ipNavy;
	color: $ipNavy;
}

#editusers {
		tr th {
		background-color: $ipNavy;
		color:white;
	}
}
#editusers {
	tr:nth-of-type(3n-2) td {
		border-color:$ipRed;
	}
	tr:nth-of-type(3n-1) td {
		border-color:$ipGreen;
	}
	tr:nth-of-type(3n) td {
		border-color:$ipBlue;
	}
}






/* COMPONENT STYLES
*  Each component should encapsulate it's parts inside a unique ID
*/

@import '../components/contacts/list/_style.scss';
@import '../components/contacts/card/_style.scss';
@import '../components/Navbar/_style.scss';
@import '../scenes/Leaguetable/_style.scss';
@import '../components/Loginform/_style.scss';
@import '../components/crmform/_style.scss';
@import '../components/account/changePass/_style.scss';
@import '../components/account/import/_style.scss';
@import '../components/modal/_style.scss';

